deps.words*
*.pyc
schema/
pkl/*
!pkl/README.md
files/*
!files/README.md
logs/
corpus/deps.words
corpus/SemEval2010_task8_testing_keys/*
!corpus/SemEval2010_task8_testing_keys/README.md
!corpus/SemEval2010_task8_testing_keys/TEST_FILE_FULL.TXT
corpus/SemEval2010_task8_training/*
!corpus/SemEval2010_task8_training/README.md
!corpus/SemEval2010_task8_training/TRAIN_FILE.TXT
